@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Baloo Bhai 2', cursive;
}

.outer-box{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top left, #57d7f7, #a8f5ff);
    /* border: 2px solid red; */
}

.inner-box{
    width: 400px;
    margin: 0 auto;
    position: relative;
    top: 15%; 
    transform: translateY(-50);
    padding: 20px 40px;
    /* border: 1px solid blue; */
    /* background-color: #ffffff09; */
    background: linear-gradient(to top left, #ffffffff, #ffffff33);
    backdrop-filter: blur(8px);
    border-radius: 10px;
    box-shadow: 2px 2px 5px #272727;
    z-index: 2;
}

.signup-header h1{
    font-size: 2.5rem;
    color: #212121;
}

.signup-header p {
    font-size: 0.9rem;
    color: #555;
}

.signup-body{
    margin: 20px 0;
}

.signup-body p{
    margin: 10px 0;
}

.signup-body p label{
    display: block;
    font-weight: bold;
}

.signup-body p input{
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    border-radius: 4px;
    font-size: 1rem;
    margin-top: 4px;
}

.signup-body p input[type="submit"]{
    color: white;
    cursor: pointer;
    background-color: #266a97;
    border: none;
}
.signup-body p input[type="submit"]:hover{
    background-color: #0a3653;
}

.signup-footer p {
    color: #555;
    text-align: center;
}

.signup-footer p a {
    color:  #266a97;
}

.circle{
    width: 200px;
    height: 200px;
    background: linear-gradient(to top right, #ffffff33, #ffffff);
    border-radius: 100px;
    position: absolute;
}

.c1{
    top: 100px;
    left: 40px;
}

.c2{
    bottom: 200px;
    right: 50px;
}